<div class="mdl-layout__content pt-dashboard-item_content">
    <div class="pt-landing_cards-wrapper">
        <div class="mdl-card mdl-shadow--3dp" style="width: 670px; height: 450px; margin: auto">
            <div class="mdl-card__menu" ng-if="showBackIcon" style="left: 16px;">
                <button ng-click="backBtnClicked()" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">arrow_back</i>
                </button>

            </div>
            <div class="mdl-card__supporting-text">
                <div google-chart chart="chartObject" style="height:400px; width:100%; margin: 0 0 0 40px;" agc-on-select="selectHandler(selectedItem)"></div>
            </div>
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">{{title}} Statistics</h2>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--3dp" style="width: 470px; height: 450px; margin: auto;">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Pulse</h2>
                </div>
            </md-toolbar>
            <div class="mdl-card__supporting-text" style="margin-top: -30px; overflow: auto">
                <ul class="mdl-list">
                    <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="action in actions">
                        <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span></span>
                        <span class="mdl-list__item-text-body">
                                    {{action.actionStringRepresentation}}
                                  </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
