<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projectrack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <style>
        .pt-landing_cards-wrapper {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: center;
            padding: 3em;
            flex: 1 100%;
        }
    </style>
</head>
<body ng-controller="DashboardController">
<div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="color: white">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Projectrack</span>

                <div class="mdl-layout-spacer"></div>
                <div style="position: relative">
                    <button class="mdl-button mdl-js-button mdl-button--icon" id="user-icon">
                        <i class="material-icons">
                            more_vert
                        </i>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" data-mdl-for="user-icon">
                        <li class="mdl-menu__item">Log out</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="mdl-layout__content">
            <div class="pt-landing_cards-wrapper">
                <div class="mdl-card mdl-shadow--3dp" style="width: 60%; height: 450px; margin: auto">
                    <div class="mdl-card__title mdl-card--expand" style="color: #fff">
                        <div google-chart chart="chartObject" style="height:600px; width:100%;"
                             agc-on-select="selectHandler(selectedItems)"></div>
                    </div>
                </div>
                <div class="mdl-card mdl-shadow--3dp" style="width: 38%; height: 450px; margin: auto">
                    <div class="mdl-card__title">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--10-col">
                                <h2 class="mdl-card__title-text">Feed</h2>
                            </div>
                            <div class="mdl-cell mdl-cell--2-col" style="margin-bottom: 20px">
                                <img src="../assets/images/news.png" width="40px" height="40px">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text" style="margin-top: -30px; overflow: scroll">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-list__item--three-line">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Bryan Cranston</span>
                                  <span class="mdl-list__item-text-body">
                                    Bryan Cranston played the role of Walter in Breaking Bad. He is also known
                                    for playing Hal in Malcom in the Middle.
                                  </span>
                                </span>
                                <span class="mdl-list__item-secondary-content">
                                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--three-line">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Bryan Cranston</span>
                                  <span class="mdl-list__item-text-body">
                                    Bryan Cranston played the role of Walter in Breaking Bad. He is also known
                                    for playing Hal in Malcom in the Middle.
                                  </span>
                                </span>
                                <span class="mdl-list__item-secondary-content">
                                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--three-line">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Bryan Cranston</span>
                                  <span class="mdl-list__item-text-body">
                                    Bryan Cranston played the role of Walter in Breaking Bad. He is also known
                                    for playing Hal in Malcom in the Middle.
                                  </span>
                                </span>
                                <span class="mdl-list__item-secondary-content">
                                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--three-line">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Bryan Cranston</span>
                                  <span class="mdl-list__item-text-body">
                                    Bryan Cranston played the role of Walter in Breaking Bad. He is also known
                                    for playing Hal in Malcom in the Middle.
                                  </span>
                                </span>
                                <span class="mdl-list__item-secondary-content">
                                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--three-line">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Bryan Cranston</span>
                                  <span class="mdl-list__item-text-body">
                                    Bryan Cranston played the role of Walter in Breaking Bad. He is also known
                                    for playing Hal in Malcom in the Middle.
                                  </span>
                                </span>
                                <span class="mdl-list__item-secondary-content">
                                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../controllers/dashboard.js"></script>
<script src="../bower_components/angular-google-chart/ng-google-chart.min.js"></script>
</body>
</html>