<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projectrack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <style>
        .pt-landing_cards-wrapper {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: center;
            padding: 3em;
            flex: 1 100%;
        }
    </style>
</head>
<body ng-controller="DashboardBaseController">
<div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="color: white">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Projectrack</span>
                <div class="mdl-layout-spacer"></div>
                <div style="position: relative">
                    <button class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons" ui-sref="departments">
                            dashboard
                        </i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons" ui-sref="deliveries">
                            favorite
                        </i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon" id="user-icon">
                        <i class="material-icons">
                            more_vert
                        </i>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" data-mdl-for="user-icon">
                        <li class="mdl-menu__item">Log out</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="mdl-layout__content">
            <section ui-view></section>
        </div>
    </div>
</div>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../controllers/dashboardBase.js"></script>
<script src="../controllers/departments.js"></script>
<script src="../controllers/deliveries.js"></script>
<script src="../bower_components/angular-google-chart/ng-google-chart.min.js"></script>
</body>
</html>