<div class="mdl-layout__content">
    <ul class="mdl-list" style="width: 100%">
        <li class="mdl-list__item mdl-list__item--three-line pt-dashboard_progress-wrapper"
            ng-repeat="project in projects">
            <span class="mdl-list__item-primary-content">
                <span>{{project.title}}</span>
                <span class="mdl-list__item-text-body">
                    details
                </span>
            </span>

            <div id="progressbar1" class="mdl-progress mdl-js-progress pt-dashboard_progress"></div>
            <span class="mdl-list__item-secondary-content">
                <span class="mdl-list__item-secondary-action">
                    <button class="mdl-button mdl-js-button mdl-button--raised" id="btnAction"
                            ng-click="showProjectDetails(project)">
                        Details
                    </button>
                </span>
            </span>
        </li>
    </ul>
</div>